@charset "UTF-8";
/*css document*/

/*universl styles*/
html {
  font-size: 18px;
  background-color: White;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: helvetica sans-serif;
}

@media only screen and (max-width: 1024px) {
body {
    font-size: 16px;
}
}
/*Header*/
.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

/*Main Banner*/

.main-banner {
  background: url(../../resources/media/moto.jpeg);
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  background-color: black;
  width: 20rem;
  color: white;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.headline h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
}

/*Navigation Bar*/

nav {
  background: firebrick;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  font-weight: bold;
  font-size: 1.15rem;
  list-style: none;
}

.mobile-nav {display: none;}

/* query for tablet */

@media only screen and (max-width: 1024px) {
  nav ul {display: none;}
}

@media only screen and (max-width: 1024px) {
  .mobile-nav {display: block;
    text-align: center;
  }


/*Products and Business*/

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  border: solid black 4px;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
}

.product-image img {
  max-width: 8rem;
  object-fit: contain;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.info {
  width: 35%;
}

.title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
/* query for tablet */

@media only screen and (max-width: 1024px) {
  .info {
    width: 47%;
  }
}


/*Footer*/
footer {
  padding: 5rem 0;
  margin-top: 4rem;
  background-color: black;
  color: white;
  text-align: left;
}
